.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 10px 15px;
}

.input-variable{
    border: 2px solid blue;
    width: 450px;
    height:20px;
    font-size: 27px;
}

.label{
    position: absolute;
    padding-top: 30px;
    right: 36%;
    top: 1%;
    font-weight: 800;
}